<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>

    <h1>Cadastro!</h1>
    <p>Esta é a página de cadastro</p>
    <form method="POST">
    <p>Insira seu nome: <input type="text" name="nome"></p>
    <p>Insira seu email: <input type="email" name="email"></p>
    <p>Insira sua senha: <input type="password" name="senha"></p>
    <p>Confirme sua senha: <input type="password" name="confSenha"></p>
    <input type="submit" name="enviar" value="Cadastro">
    </form>

</body>
</html>
